#loading-mask {
background-color:white;
height:100%;
left:0pt;
position:absolute;
top:0pt;
width:100%;
z-index:20000;
}
#loading {
height:auto;
left:45%;
padding:2px;
position:absolute;
top:40%;
z-index:20001;
}
#loading img {
margin-bottom:5px;
}
#loading .loading-indicator {
background:white none repeat scroll 0%;
color:#555555;
font-size:13px;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:bold;
height:auto;
line-height:normal;
margin:0pt;
padding:10px;
text-align:center;
}

DIV#header{
	height: 80px;
	background: url(/images/header.jpg) repeat-x;
	margin-bottom:13px;
}

DIV#main{
	width:69%;
	float:left;
}

DIV#content{
	margin:3px 15px;
}

DIV#side{
	float:right;
	width:29%;
}

BODY{
	background:#EFEFEF;
	font-family: "Lucida Grande",Verdana,Tahoma,Arial,sans-serif;
}

DIV#header h1{
	font-size:30px;
	color:#fff;
	padding:18px 18px;
	
	font-weight:normal;
}

DIV#page_loading{
	clear:both;
	padding:10px;
	background:#D0DCEA;
	border: 1px solid #6A788B;
	font-size:13px;
	margin:5px 0;
}

a.entity-link{
	padding-left:20px;
	line-height:16px;
}


/* tempppp! */

*.small{
	color: silver;
	font-size:10px;
}

*.bold{
	font-weight: bold;
}


/* form group */

/* add some padding so it spaces nice and relative elements dn't get clipped */
.nifty-form-group {
	padding-bottom:5px;
	overflow:hidden;
	margin-left:5px;
}
 
/* Simple blue border */
.nifty-form-group .nifty-form-group-header {
	padding:0;
	border-bottom:1px solid #EAEAEA;
}
 
/* Position the text element so it appears over the border added above */
.nifty-form-group .nifty-form-group-header-text {
	font-size:12px;
	font-family:tahoma,arial,sans-serif;
	line-height:16px;
	position:relative;
	left:5px;
	top:2px;
	padding:1px 5px 1px 2px;
	color:#4e79b2;
}
 
/* Copied from x-plain (for IE + layouts to work) */
.nifty-form-group-body {
    overflow:hidden;
}
 
/* Copied from x-plain (for IE + layouts to work) */
.nifty-form-group-bwrap {
    overflow:hidden;
    zoom:1;
}
 
/* Change the toggle icon when collapsed */
.x-panel-collapsed .nifty-form-group-header-text {
	background-position: 2px -15px;
}

div.nifty-field-editor{
	position:absolute;
	padding:1px 2px;
	border: 2px solid #D3D7FF;
	background:#E3E5FF;
	visibility:hidden;
	z-index: 20000;
}

div.nifty-field-editor .x-form-field{
	padding-top:6px;
	padding-bottom:4px;
}

.x-nifty-fieldlet-container{
	float:left;
	margin:0 2px;
}

.x-nifty-fieldlet-label{
	font-size:9px;
	padding:3px;
	margin-left:2px;
}