<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title></title>
	<%= ext_css_include_tag %>
	
	<%= css_include_tag 'nifty-base.css' %>

</head>
<body>
	<div id="loading-mask" style=""></div>
	<div id="loading">
	<div class="loading-indicator">
		<img src="/ext/resources/images/default/shared/blue-loading.gif" width="32" height="32" style="margin-right:8px;" align="absmiddle"/>Loading...</div>
	</div>
	
	
	<%= ext_js_include_tag %>
	<%= js_include_tag	'nifty/core',
											'nifty/init',
											'nifty/data/entity.js',
											'nifty/data/list.js',
											'nifty/data/fieldlet.js',
											'nifty/data/tree.js',
											'nifty/form/field.js',
											'nifty/generated_fieldlets.js',
											'nifty/generated.js',
														  :bundle => 'nifty' %>
</body>
</html>
