/* Designer Generated CSS file for icons etc */


/* Class Icons */

/* Product */
.icon-big-2090736770146440206 { 
	background:url(/viewer/resources/2090736770146440206_big.png) no-repeat left center;
}

.icon-small-2090736770146440206 { 
	background:url(/viewer/resources/2090736770146440206_small.png) no-repeat left center;
}

/* Person */
.icon-big-18279707579104455630 { 
	background:url(/viewer/resources/18279707579104455630_big.png) no-repeat left center;	
}

.icon-small-18279707579104455630 { 
	background:url(/viewer/resources/18279707579104455630_small.png) no-repeat left center;		
}

/* Company */

.icon-big-8190433569609209457 { 
		background:url(/viewer/resources/8190433569609209457_big.png) no-repeat left center;
}

.icon-small-8190433569609209457 { 
	background:url(/viewer/resources/8190433569609209457_small.png) no-repeat left center;
}


div.links a{
	font-size: 13px;
}