/* Designer Generated CSS file for icons etc */


/* Class Icons */

/* Product */
.icon-big-1d03ca03e76d140e { 
	background:url(resources/1d03ca03e76d140e_big.png) no-repeat left center;
}

.icon-small-1d03ca03e76d140e { 
	background:url(resources/1d03ca03e76d140e_small.png) no-repeat left center;
}

/* Person */
.icon-big-fdae913172896bce { 
	background:url(resources/fdae913172896bce_big.png) no-repeat left center;	
}

.icon-small-fdae913172896bce { 
	background:url(resources/fdae913172896bce_small.png) no-repeat left center;		
}

/* Company */

.icon-big-71aa43efd0fdd671 { 
		background:url(resources/71aa43efd0fdd671_big.png) no-repeat left center;
}

.icon-small-71aa43efd0fdd671 { 
	background:url(resources/71aa43efd0fdd671_small.png) no-repeat left center;
}


div.links a{
	font-size: 13px;
}