
div.x-nifty-field-instance{
	padding:2px 3px;
	border: 1px solid transparent;
	line-height:1.3;
	background:#fff;
}

div.x-nifty-field-instance-hover{
	border: 1px solid #8DABDF;
	background:#E6ECFF;
}


span.x-nifty-action-tab{
	display: block;
	text-align:right;
	line-height: 16px;
	background:#fff;
	position:absolute;
	visibility:hidden;
	z-index:10000;
	padding:4px 2px;
}

img.x-nifty-tab-edit{
	cursor: pointer;
	width:10px;
	height:10px;
	background: url(/images/edit.png) no-repeat;
}

img.x-nifty-tab-delete{
	margin-right:3px;
	cursor: pointer;
	width:10px;
	height:10px;
	background: url(/images/delete.png) no-repeat;
}